<a href="https://colab.research.google.com/github/HarisJafri-xcode/Python-for-Data-Science/blob/main/01-Core-Python/1_1_Getting_Started_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print() Function

The built-in Python function print() is the most fundamental and commonly used function for producing output. Its primary purpose is to display specified messages or values to the standard output device, which is typically the console or screen.

print() Function receives Arguments from our end. The Argument can be Number, Text or a Mathematical Expression.

In [1]:
print(60)

60

In [ ]:
print(13.1)

13.1

In [ ]:
print("We are going to Learn Python for Data Science")

We are going to Learn Python for Data Science

In [ ]:
print(2+2-3)

1

As you noticed, the Text needs to be enclosed inside Qoutes. Qoutes can be single or Double Qoutes.

Machine will refuse to understand the Instructions if there are errors. Even the tinest typo in your Code shall result in an Error.

Even Experienced Programmers make mistakes. So if you are making Mistakes, it's ok. You are on right Track.

# Integer and Float

Computers process and store Data in different ways depending on its Format.

Operating with Numerical Data in Python allows you to perform Calculations, automate Formulas and Solve Numerical Problems.

You can use Python to operate with Numbers.

To output the result of a Calculation, we just need to enter the Mathematical Operations right into the print() Function.

In [ ]:
print(20+3)

23

In [ ]:
print(20-3)

17

In [ ]:
print(20*3)

60

In [ ]:
print(20/3)

6.666666666666667

In [ ]:
print(20**3)

8000

In [ ]:
print(20//3)

6

In [ ]:
print(20%3)

2

All the Operators are called "Arithmetic Operators" and they are used for Basic Mathematical Operations !

Did you notice somthing ?

We were executing Arithmetic Operations between Numbers without a Decimal Point.

In Python, whenever we use Numeric Values without a Decimal Point, we refer to the Data Type as Integers.

The Arithmetic Operations between Integers result in an Integer only ! Except for Division Operator.

The Output when we used Division Operators between two Integers resulted in a Float.

Floats are Numbers in Python with a Decimal Point.

## When a Output of Arithmetic Operation is Float ?

There is 1 Division Operator in the Arithmetic Calculation.

In [ ]:
print(2+3*4**2-(6/3))

48.0

There is atleast 1 Float Data Type in the Arithmetic Operation.

In [ ]:
print(3+4*2-1%2+5.0)

15.0

Python follows PEDMAS Rule while performing Arithmetic Operations i.e., Parenthesis, Exponents, Divison, Multiplication, Addition and Subtraction.

# Strings

Another Data Type is called Strings. Whenever we enclose anything Single or Double Quotes.

That is Text !

Text is known as String in Built-in Python !

In [ ]:
print("Data is the New Oil!")

Data is the New Oil!

In [ ]:
print('Data Analysis needs Mathematical Foundations.')

Data Analysis needs Mathematical Foundations.

Anything inside Quote shall be treated as a piece of Text.

In [ ]:
print("21+3")

21+3

## Quote inside String
There are three main ways to handle quotes that are part of your string content:

### The Escape Sequence

In [ ]:
print("She said to me,\"You are a Good Man.\"")

She said to me,"You are a Good Man."

In [ ]:
print('It\'s a great time!')

It's a great time!

### Opposite Quotes

In [ ]:
print("She said to me,'You are a Good Man.'")

She said to me,'You are a Good Man.'

In [ ]:
print("It's a great time!")

It's a great time!

### Using Triple Quotes

In [ ]:
print("""She said to me,"It's a Great Time!" """)

She said to me,"It's a Great Time!"

## Mathematical Operators with Strings

A String can be concatenated with another String.

In [ ]:
print('Iron'+"Man"+'2')

IronMan2

A String can multiply with an Integer.

In [ ]:
print("Yo"*3)

YoYoYo

In [ ]:
print('5'*5)

55555

# Commas

There are situations where we might want to use print() Function multiple times.

Each print() instruction outputs the text in a new line.

In [ ]:
print(20+3)
print("Hi")
print(19.75)

23
Hi
19.75

A Line of Code is called "Statement".

When you give Computers many Statements, the Instruction will be executed line by line, from Top to Bottom.

The print() Functions can take in multiple values to output on the same line.

This can be done by seperating them with Commas.

In [ ]:
print("Balance:", 500)

Balance: 500

In [ ]:
print("We need to give them",500,"US Dollars.")

We need to give them 500 US Dollars.

By default, the print() function separates arguments with a space; however, this can be customized by passing an argument using the "sep=" parameter.

In [ ]:
print("Iron","Man",sep="-")

Iron-Man

In [ ]:
print("companyname","email.com",sep="@")

companyname@email.com

# Comments

You can add comments to your Code to add Annotations and Explanations.

Comments make the Code easier to understand for Humans while Computers ignore Comments.

A Comment in Python with #

In [ ]:
print(23+7) # Add 23 and 7 and Output it on Screen

30

In [ ]:
# Saying Hello to Sam
print("Hello Sam!")

Hello Sam!

# Variables

Variables act like a Box in which we can store Python Objects like Strings, Integers and Floats.

In [ ]:
age = 31 # Assigning Integer Object to Variable "age"
hourly_wage = 20.5 # Assigning Float Object to Variable "hourly_wage"
print("The Hourly Wage offered by this Company is",hourly_wage,"and minimum age of Qualification is",age)

The Hourly Wage offered by this Company is 20.5 and minimum age of Qualification is 31

In [ ]:
country = "Panama" # Assigning String Object to Variable "country"
print("Country Name:", country)

country = "Mexico" # Assigning a New String Object to Variable "country"
print("Country Name:", country)

Country Name: Panama
Country Name: Mexico

In [ ]:
# We already have Integer Object 31 stored inside Variable "age"
print("You shall be",age + 2,"years old after 2 Years!")

You shall be 33 years old after 2 Years!

In [ ]:
# adding two Numerics
print(age + hourly_wage)

51.5

By the way, "=" is called the Assignment Operator !

Assignment Operator is used to assign Python Objects to Variables!

In [ ]:
x = 5 # Assigning Integer Object to Variable "x"

x = x + 3 # Adding 3 in Variable "x" and reassigning this new output Python Object to the same Variable x

print(x)

x = x * 2 # Multiplying 2 with Variable "x" and reassigning this new output Python Object to the same Variable x

print(x)

8
16

Variables names have certain conditions !
1. We may use Alphabets, Numbers and only 1 Special Character i.e., underscore
2. Variable Name can not begin with Numbers
3. Python is case sensitive therefore x and X are not the same Variables.
4. Python Keywords and Function should not be used as Variable Names.

# id() Function

id() Function actually returns the memory address where the object is currently stored in your computer's RAM (specifically, the virtual memory address used by the Python process).

The primary use of id() in everyday Python programming is to check if two variables refer to the exact same object in memory

In [ ]:
x = 1000
y = 1000

print("Memory Address of Python Object associated with Variable x:", id(x))
print("Memory Address of Python Object associated with Variable y:", id(y))

Memory Address of Python Object associated with Variable x: 136247772378576
Memory Address of Python Object associated with Variable y: 136247772377136

Although the content of Python Object associated with Variable x and y is the same. They are stored in different Memory Address.